@import "framework/structure";
@import "elements/hide";

header {
	img {
		display: block;
		height: 220px;
		margin: 0 auto;
		max-width: 100%;
		width: 960px;
	}
}

.side-img {
	display: block;
	margin: 1em auto 2em;
	max-width: 100%;
}

.downloads {
	margin: 1.5em 0;
}

.btn {
	background: #8B8B8B;
	color: #FFF;
	margin-left: 1em;
	padding: 0.5em;
	text-decoration: none;

	@include border-radius(0.375em);

	&:hover,
	&:focus {
		background: darken(#8B8B8B, 10%);
	}
}

.link {
	color: #000;
}

a {
	@include transition;
}

.changes {
	padding: 1em 0;
	text-align: center;
}

.accept-btn,
.decline-btn {
	display: inline-block;
}

.accept-btn {
	background: #279E0E;

	&:hover,
	&:focus {
		background: darken(#279E0E, 10%);
	}
}

.decline-btn {
	background: darken(#ED1B24, 5%);

	&:hover,
	&:focus {
		background: darken(#ED1B24, 15%);
	}
}

/* new */

.document-link {
	color: #000;
	display: inline-block;
	margin: 1em 0;
	text-decoration: none;

	&:hover span,
	&:focus span {
		text-decoration: underline;
	}

	img {
		display: inline-block;
		height: 40px;
		margin-right: 1em;
		vertical-align: middle;
		width: 41px;
	}

	span {
		display: inline-block;
		margin: 0;
		vertical-align: middle;
	}
}