/*
	
FOOTER
------

	<footer class="footer">
		<div class="container">
			<ul class="footer__links">
				<li><a href="">Link 1<a></li>
				<li><a href="">Link 2<a></li>
				<li><a href="">Link 3<a></li>
				<li><a href="">Link 4<a></li>
				<li><a href="">Link 5<a></li>
				<li><a href="">Link 6<a></li>
			</ul>
		</div>
	</footer>

*/

.footer {
	background: #007AC2;
	margin-top: 0.5em;
	padding: 0.25em 0;
	text-align: center;

	.footer__links {
		li {
			display: inline-block;
			margin: 0 1em;
		}

		a {
			color: #FFE600;
			text-decoration: none;

			@include transition;

			&:hover,
			&:focus {
				color: lighten(#FFE600, 25%);
			}
		}
	}
}